.App {
  font-family: Courier New;
  text-align: center;  
  
}

.header {
  background-image: url("https://images.unsplash.com/photo-1465244085115-0c89caa46915?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  height: 15rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(97, 68, 6);
  font-size: 2rem; 
}
.title{
 
}

.searchBar{
  margin-top: 1rem;
  display: flex; 
  justify-content: flex-end;

}
.body {
  margin-left: 5%;
  margin-right: 5%;
}

.main{
  font-family: Courier New;
  font-size: 0.75rem;
}

.titleStyles{
  color: rgb(16, 87, 16);
}


